@import url(reset.css);

/* Genel */

#genel {
    width: 980px;
    margin: 0 auto;

}

/* Header */

#header {
    height: 172px;
    position: relative;
}

/* logo */

.logo {
    position: absolute;
    top: 0;
    left: 280px;
}

/* menu */

.menu {
    position: absolute;
}

.menu.ilk {
    top: 73px;
    left: 20px;
}

.menu ul li {
    float: left;
    width: 120px;
    text-align: center;
}

.menu ul li a {
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px #50656a;
    display: block;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.menu.son {
    top: 73px;
    right: 20px;
}

/* İçerik */

#icerik {
    background: url(../images/seffafBg.png);
    padding: 10px;
}

.icerik {
    background: url(../images/icerikBg.png) repeat-y;
    overflow: auto;
}

/* Sağ */

#sag {
    float: right;
    width: 270px;
}

/* çizgi */

.cizgi {
    background: url(../images/cizgiBg.png) repeat-x;
    overflow: hidden;
    height: 1px;
}

/* Sosyal */

.social {
    padding: 25px 0 25px 15px;
    overflow: auto;
}

.social ul li {
    float: left;
    font: 11px arial;
    margin-left: 5px;
}

.social ul li.rss {
    background: url(../images/rss.png) no-repeat 0;
}

.social ul li.twitter {
    background: url(../images/twitter.png) no-repeat 0;
}

.social ul li.facebook {
    background: url(../images/facebook.png) no-repeat 0;
}

.social ul li a {
    display: block;
    padding: 0 23px;
    color: #696961;
}

/* arama */

#arama {}

.arama {
    height: 32px;
    width: 210px;
    background: url(../images/aramaBg.png);
}